<h2 class="major"><i class="fas fa-cloud"></i> Cloud</h2>
<p>Ricordarsi sempre che cloud significa "il computer di qualcun altro" dunque fidarsi è bene ma non fidarsi è meglio. I provider che vi suggeriremo qui dentro utilizzano tecnologia open source MA ricordiamo sempre che è impossibile controllare cosa realmente gira sui server. Per questo motivo se volete utilizzare un cloud per i dati davvero sensibili (come password, referti medici o codici di recupero) vi consigliamo di utilizzare di crittografare tutto in autonomia con una password che solo voi conoscete. Per farlo potete usare il pratico <a href="https://www.lealternative.net/2020/12/02/cryptomator/" target="_blank">Cryptomator</a> e caricare questi file su qualunque cloud con la sicurezza che non vengano letti da nessuno.<br /><a href="https://www.lealternative.net/2019/10/29/alternative-a-google-drive/" target="_blank">Qui trovi il nostro articolo completo.</a></p>
<h3><i class="fas fa-cloud"></i> <a href="https://mega.nz/" target="_blank">Mega</a></h3>
<p>Uno dei progetti più interessanti, open source e crittografato end-to-end. Il tutto a prezzi accessibili. Purtroppo non vengono utilizzati server ecologici e la loro politica di marketing è fin troppo aggressiva.</p>
<h3><i class="fas fa-cloud"></i> <a href="https://nextcloud.com/signup/" target="_blank">Nextcloud</a></h3>
<p>Nextcloud è una completa suite che chiunque può installare su un proprio server. Esistono molti provider che offrono spazio con installato Nextcloud dove, oltre ai propri file, si ha una vera e propria suite alternativa a Google Drive. I provider che consigliamo sono: <a href="https://woelkli.com/en" target="_blank">wölkli</a>, <a href="https://cloud.webo.hosting/" target="_blank">Webo</a>, <a href="https://thegood.cloud/" target="_blank">TheGood.cloud</a>, <a href="https://armored.net/" target="_blank">Armored</a>, <a href="https://www.hetzner.com/storage/storage-share" target="_blank">Hetzner</a>. Anche <a href="https://www.infomaniak.com/it/kdrive/" target="_blank">kDrive</a> utilizza un fork di Nextcloud.</p>
<h3><i class="fas fa-cloud"></i> <a href="https://www.infomaniak.com/it/kdrive/" target="_blank">kDrive</a></h3>
<p>Come anticipato viene utilizzato un fork di Nextcloud. La loro applicazione Android è completamente riscritta da zero e non usano quella di Nextcloud come gli altri provider. È una delle nostre alternative preferite e il loro costo/GB è tra i più economici.</p>
<h3><i class="fas fa-cloud"></i> <a href="https://crypt.ee/" target="_blank">Cryptee</a></h3>
<p>Un cloud open source molto sicuro e con sede in Estonia. Eccezionale il sistema per modificare i documenti. Esteticamente molto gradevole.</p>
<h3><i class="fas fa-cloud"></i> <a href="https://cozy.io/" target="_blank">Cozy Cloud</a></h3>
<p>Una applicazione open source molto interessante dove è possibile anche accedere ai propri conti bancari. La loro applicazione per Android è totalmente priva di traccianti e non ha bisogno dei Google Play Services.</p>
<h3><i class="fas fa-cloud"></i> <a href="https://www.seafile.com/en/home/" target="_blank">Seafile</a></h3>
<p>Una suite alternativa a Nextcloud decisamente ben fatta e semplice da utilizzare. Vi proponiamo due provider che la utilizzano: <a href="https://luckycloud.de/en/" target="_blank">luckycloud</a> e <a href="https://en.yoursecurecloud.de/" target="_blank">Your Secure Cloud</a>.</p>