<h2 class="major">Contattaci</h2>
<p>Siamo presenti pressoché ovunque ma preferiamo di gran lunga essere contattati per email o su social alternativi come <b>Mastodon</b>. 
<ul class="icons">
<li><a href="https://mastodon.uno/@lealternative" target="_blank" class="icon brands fab fa-mastodon"><span class="label">Mastodon</span></a></li>							
<li><a href="https://t.me/LeAlternativeGruppoUfficiale" target="_blank" class="icon brands fab fa-telegram"><span class="label">Telegram</span></a></li>
<li><a href="https://www.reddit.com/r/LeAlternative/" target="_blank" class="icon brands fab fa-reddit"><span class="label">Reddit</span></a></li>
<li><a href="https://twitter.com/Le_Alternative" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
<li><a href="https://www.facebook.com/LeAlternative.net" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
<li><a href="https://www.instagram.com/_le_alternative/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
</ul>