<h2 class="major"><i class="fas fa-search"></i> Documenti online</h2>
<p>Per <b>documenti online</b> intendiamo la possibilità di gestire dei documenti online e in condivisione anche con altre persone. Esattamente come si può fare con Google Docs o con Office 365.</b>.<br /><a href="https://www.lealternative.net/2019/10/30/alternative-a-google-docs/" target="_blank">Qui trovi il nostro articolo completo.</a></p>
<h3><i class="fas fa-cloud"></i> <a href="https://nextcloud.com/signup/" target="_blank">Nextcloud</a></h3>
<p>Se avete già un <a href="https://www.lealternative.net/2020/06/04/nextcloud-lalternativa-a-google-drive/" target="_blank">account Nextcloud</a> potete provare a usare la suite <a href="https://www.onlyoffice.com/it/" target="_blank">OnlyOffice</a> o <a href="https://www.collaboraoffice.com/collabora-online/" target="_blank">CollaboraOnline</a> che sono spesso comprese nelle soluzioni a pagamento.</p>
<h3><i class="fas fa-user-lock"></i> <a href="https://cryptpad.fr/" target="_blank">Cryptpad</a></h3>
<p>Alternativa crittografata end-to-end. Open source e gratuita (fino a 1GB di spazio). Possibilità di condividere e di collaborare in tempo reale con altri utenti. Testi, fogli di calcolo, lavagne e anche form. Esiste anche una <a href="https://cryptpad.devol.it/" target="_blank">istanza gratuita dei Devol</a>.</p>
<h3><i class="far fa-clipboard"></i> <a href="https://etherpad.org/" target="_blank">Etherpad</a></h3>
<p>Etherpad è un editore collaborativo molto semplice. Anche in questo caso potete usare <a href="https://etherpad.devol.it/" target="_blank">l'istanza gratuita dei Devol</a>.</p>
<h3><i class="fas fa-cloud"></i> <a href="https://www.infomaniak.com/it/kdrive/" target="_blank">kDrive</a></h3>
<p>Un fork di Nextcloud con un'applicazione propria (open source) completamente riscritta da zero. Usano OnlyOffice e si possono creare documenti e fogli di lavoro per lavorare in tempo reale con altre persone.</p>
<h3><i class="fas fa-cloud"></i> <a href="https://www.seafile.com/en/home/" target="_blank">Seafile</a></h3>
<p>Una delle alternative open source a Nextcloud. Seafile lo potete usare con i provider <a href="https://luckycloud.de/en/" target="_blank">luckycloud</a> e <a href="https://en.yoursecurecloud.de/" target="_blank">Your Secure Cloud</a> utilizzando sempre OnlyOffice.</p>
<h2>Extra <i class="far fa-star"></i></h2>
<h3><i class="fas fa-key"></i> <a href="https://crypt.ee/" target="_blank">Cryptee</a></h3>
<p>Non è possibile condividere o collaborare online ma è un'ottima soluzione per mantenere privati i propri documenti e per gestirli online.</p>