<h2 class="major"><i class="fas fa-map-marker-alt"></i> Mappe</h2>
<p>Le mappe, dopo la ricerca, sono una delle cose che Google fa meglio. È anche una delle applicazioni dove Google fa maggiormente incetta di dati. Ecco alcune soluzioni alternative</b>.<br /><a href="https://www.lealternative.net/2019/10/25/alternative-a-google-maps/" target="_blank">Qui trovi il nostro articolo completo.</a></p>
<h2>Browser <i class="fas fa-desktop"></i><h2>
<h3><i class="fas fa-map-marker"></i> <a href="https://www.openstreetmap.org/#map=6/42.088/12.564" target="_blank">OpenStreetMap</a></h3>
<p>La vera alternativa libera a Google Maps. Chiunque può collaborare e migliorarlo utilizzando anche applicazioni semplici e divertenti come <a href="https://www.lealternative.net/2020/01/15/streetcomplete/" target="_blank">StreetComplete</a> oppure <a hreF="https://organicmaps.app/" target="_blank">Organic Maps</a>.</p>
<h2>Smartphone<i class="fab fa-android"></i></h2>
<h3><i class="fas fa-map-marker"></i> <a href="https://osmand.net/" target="_blank">OsmAnd</a></h3>
<p>Una delle applicazioni di riferimento per le mappe su smartphone. Utilizza le mappe di <b>OpenStreetMap</b>, si può usare anche offline e ha moltissime funzionalità anche avanzate. La trovate sul <a href="https://play.google.com/store/apps/details?id=net.osmand.plus" target="_blank">Play Store</a> o su <a href="https://f-droid.org/it/packages/net.osmand.plus/" target="_blank">F-Droid</a>. Disponibile anche per <a href="https://apps.apple.com/app/apple-store/id934850257" target="_blank">iOS</a>.</p>
<h3><i class="fas fa-map-signs"></i> <a href="https://organicmaps.app/" target="_blank">Organic Maps</a></h3>
<p>Open source e versione libera di <b>Maps.me</b>. Viene aggiornata continuamente e utilizza le mappe di OpenStreetMap, provatela e non ne rimarrete delusi. Disponibile sul <a href="https://play.google.com/store/apps/details?id=app.organicmaps" target="_blank">Play Store</a>, su <a href="https://f-droid.org/en/packages/app.organicmaps/" target="_blank">F-Droid</a> e su <a href="https://apps.apple.com/app/organic-maps/id1567437057" target="_blank">iOS</a>.</p>
<h2>Extra <i class="far fa-star"></i></h2>
<h3><i class="fas fa-globe-europe"></i> <a href="https://www.magicearth.com/" target="_blank">Magic Earth</a></h3>
<p><b>Non open source</b>. Ottima policy incentrata sulla privacy. Funziona egregiamente come navigatore per smartphone disponibile sul <a href="https://play.google.com/store/apps/details?id=com.generalmagic.magicearth" target="_blank">Play Store</a> e su <a href="https://apps.apple.com/app/magic-earth-gps-navigation/id1007331679" target="_blank">iOS</a>.</p>
<h2>Trasporti <i class="fas fa-bus"></i></h2>	
<p>Purtroppo le uniche applicazioni open source per i trasporti (<a href="https://transportr.app/" target="_blank">Transportr</a> e <a href="https://oeffi.schildbach.de/" target="_blank">Öffi</a>) non funzionano molto bene in Italia.<br />Potete provare a utilizzare <a href="https://moovitapp.com/" target="_blank">Moovit</a> oppure <a href="https://citymapper.com/" target="_blank">CityMapper</a>, in entrambi i casi potete usarli insieme a <a href="https://www.lealternative.net/2020/07/06/trackercontrol/" target="_blank">TrackerControl</a> per evitare i traccianti.</p>