<h2 class="major"><i class="fas fa-key"></i> Password manager</h2>
<p>Utilizzare un password manager è utile per cambiare sempre password e per avere password lunghe e complesse su siti differenti.<br /><a href="https://www.lealternative.net/2019/10/31/alternative-a-google-password-manager/" target="_blank">Qui trovi il nostro articolo completo.</a></p>
<h3><i class="fas fa-shield-alt"></i> <a href="https://bitwarden.com/" target="_blank">Bitwarden</a></h3>
<p>Applicazione open source e software libero che ha superato diversi audit di sicurezza indipendenti. Un password manager incredibile. Versione premium a pagamento (10€ l'anno) oppure gratuita <a href="https://bitwarden.devol.it/" target="_blank">grazie ai Devol</a>.</p>
<h3><i class="fab fa-firefox"></i> <a href="https://www.mozilla.org/it/firefox/lockwise/" target="_blank">Firefox Lockwise</a></h3>
<p>Se siete invece degli appassionati di Firefox potete trovare molto utile il loro password manager.</p>
<h3><i class="fas fa-key"></i> <a href="https://keepass.info/" target="_blank">Keepass</a></h3>
<p>Un password manager offline, leggero e totalmente gratuito. Potete sfruttarlo anche con l'applicazione web <a href="https://keeweb.devol.it/" target="_blank">Keeweb</a> oppure con <a href="https://github.com/keepassxreboot/keepassxc/" target="_blank">KeepassXC</a> e <a href="https://github.com/PhilippC/keepass2android" target="_blank">Keepass2Android</a>.</p>
<h2>Altri password manager</h2>
<p>Esistono anche altri password manager, meno famosi ma open source e altrettanto interessanti e da provare. Eccone alcuni che ci sembrano degni di nota:</p>
<p><a href="https://psono.com/" target="_blank">Psono</a>, europeo e multipiattaforma. Disponibile sia in versione gratuita che a pagamento.</p>
<p><a href="https://buttercup.pw/" target="_blank">Buttercup</a>, open source e completamente gratuito.</p>
<p><a href="https://www.passbolt.com/" target="_blank">Passbolt</a>, anche questo open source e gratuito.</p>
<p><a href="https://clipperz.com/" target="_blank">Clipperz</a>, progetto italiano open source e gratuito utilizzabile senza inserire alcuna email o altro.</p>