<h2 class="major"><i class="fab fa-windows"></i> Sistemi operativi</h2>
<p>Windows 10 e in generale i prodotti di Microsoft <a href="https://www.lealternative.net/2020/11/12/windows-10-e-la-privacy/" target="_blank">sono un incubo per la privacy</a>. In questa sezione parleremo dunque di sistemi operativi sia per desktop ma anche per Android.</p>
<h2>Linux <i class="fab fa-linux"></i></h2>
<p>L'unica vera alternativa a Windows è Linux. Ecco una serie di distribuzioni semplici da utilizzare che potete provare.</p>
<h3><i class="fab fa-ubuntu"></i> <a href="https://www.ubuntu-it.org/" target="_blank">Ubuntu</a></h3>
<p>Eccellente alternativa Linux molto user-friendly e davvero semplice da utilizzare. È disponibile inoltre per diverse <i>varianti</i>: <a href="https://ubuntu.com/download/flavours" target="_blank">Ubuntu flavours</a>.</p>
<h3><i class="fab fa-ubuntu"></i> <a href="https://linuxmint.com/" target="_blank">Linux Mint</a></h3>
<p>Sempre basata su Ubuntu è probabilmente una delle soluzioni più simili a Windows e più facile da utilizzare in assoluto. Super consigliata per l'utente inesperto.</p>
<h3><i class="fab fa-ubuntu"></i> <a href="https://pop.system76.com/" target="_blank">Pop!_OS</a></h3>
<p>Altra soluzione basata su Ubuntu molto semplice da utilizzare e perfetta per chi arriva da Windows. Sul sito è possibile anche acquistare portatili e desktop con preinstallato questo sistema operativo.</p>
<h2>Android <i class="fab fa-android"></i><h2>
<h3><i class="far fa-hand-rock"></i> <a href="https://calyxos.org/" target="_blank">CalyxOS</a></h3>
<p>Probabilmente il miglior compromesso tra privacy e sicurezza su Android. Un sistema operativo totalmente privato e che integra anche microG per poter utilizzare con sicurezza anche applicazioni che necessitano dei Google Play Services. Installare questo sistema operativo è davvero semplicissimo e si può fare solo su smartphone Google Pixel per motivi di sicurezza.</p>
<h3><i class="fab fa-android"></i> <a href="https://e.foundation/" target="_blank">/e/</a></h3>
<p>Un fork di LineageOS semplice da installare (per alcuni smartphone è disponibile anche un pratico <a href="https://doc.e.foundation/easy-installer" target="_blank">kit autoinstallante</a>). Ma la ventata di novità che ha portato /e/ è ancora più interessante perché sul loro sito vendono smartphone ricondizionati con già /e/ preinstallato per avere un cellulare degooglizzato senza alcuna conoscenza tecnica.</p>
<h3><i class="fab fa-android"></i> <a href="https://lineageos.org/" target="_blank">LineageOS</a></h3>
<p>L'alternativa ad Android per eccellenza. Semplice da usare e disponibile per una quantità enorme di modelli.</p>
<h3><i class="fab fa-android"></i> <a href="https://grapheneos.org/" target="_blank">GrapheneOS</a></h3>
<p>GrapheneOS è sinonimo di sicurezza e di privacy. È una versione di Android sulla quale non potrete far girare nessuna applicazione che necessiti dei Google Play Services. Perfetta dunque se sul vostro smartphone avete intenzione di installare solo applicazioni da <a href="https://f-droid.org/" target="_blank">F-Droid</a> o da altri store liberi. Anche questo sistema operativo, come CalyxOS, si può installare solamente su smartphone Google Pixel.</p>
<h2>Android e Linux <i class="fab fa-android"></i> <i class="fab fa-linux"></i></h2>
<p>Ultimamente ci si sta dando un gran da fare per riuscire a portare Linux sugli smartphone. È il caso ad esempio di <a href="https://puri.sm/products/librem-5/" target="_blank">Librem 5</a>, del <a href="https://www.pine64.org/pinephone/" target="_blank">PinePhone</a> o di <a href="https://ubuntu-touch.io/" target="_blank">Ubuntu Touch</a>.</p>Tutte soluzioni molto interessanti e affascinanti, purtroppo non adatte all'uso quotidiano dato che non è possibile installare nessuna applicazione Android.