<h2 class="major"><i class="fab fa-youtube"></i> Streaming</h2>
<p>Ci sono alcuni modi per poter <b>vedere YouTube senza essere tracciati da Google</b>. Tuttavia è bene ricordare che l'obiettivo finale è <b>allontanarsi da YouTube</b> utilizzando delle vere e proprie alternative</b>.<br /><a href="https://www.lealternative.net/2019/10/22/alternative-a-youtube/" target="_blank">Qui trovi il nostro articolo completo.</a></p>
<h2>YouTube privatamente <i class="fas fa-user-secret"></i><h2>								
<h3><i class="fab fa-youtube"></i> <a href="https://newpipe.net/" target="_blank">NewPipe</a></h3>
<p>Un'applicazione per Android, disponibile su <a hreF="https://f-droid.org/packages/org.schabi.newpipe/" target="_blank">F-Droid</a>, che replica in tutto e per tutto l'app di YouTube eliminando pubblicità e traccianti.</p>
<h3><i class="fas fa-video"></i> <a href="https://github.com/iv-org/documentation/blob/master/Invidious-Instances.md" target="_blank">Invidious</a></h3>
<p>Un sito web che vi permette di vedere i video di YouTube eliminando pubblicità e traccianti. Scegliete una delle istanze (un sito) e iniziare a navigare!</p>
<h3><i class="fas fa-play"></i> <a href="https://freetubeapp.io/" target="_blank">FreeTube</a></h3>
<p>Programma per Windows, macOS e Linux che vi permette di vedere i video di YouTube privatamente.</p>
<h2>Alternative a YouTube <i class="fab fa-youtube"></i><h2>
<h3><i class="fas fa-video"></i></i> <a href="https://joinpeertube.org/" target="_blank">PeerTube</a></h3>
<p>È la vera alternativa a YouTube. Decentralizzata e federata, uno dei server italiani è gestito dal <b>collettivo Devol</b> e lo trovate su <a href="https://peertube.uno/" target="_blank">PeerTube.uno</a>.</p>